.nav_menu{
    background: #121312;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav_menu.active{
    left: 0;
    transition: 350ms;
}

.navbar{
    display: flex;
    height: 80px;
    justify-content: flex-start;
    align-items: center;
}
.navbar_toggle{
    background: #121312;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu_bar{
    font-size: 2rem;
    margin-left: 2rem;
}
svg{
    color: #fff;
}
.nav_menu_item{
    width: 100%;
}

.menu_text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0 8px 16px;
    list-style: none;
    height: 60px;
}
.menu_text a:hover{
    background-color: rgb(179, 14, 182);
}
.menu_text a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

span{
    margin-left: 16px;
}